# Database
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/mayorista_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-este-secreto-en-produccion-usa-openssl-rand-base64-32"
